[submodule "week1/fsjs-p2-gc1-ref"]
	path = week1/fsjs-p2-gc1-ref
	url = https://github.com/mspadilapadli/fsjs-p2-gc1-ref.git
[submodule "week1/fsjs-p2-slc1-ref"]
	path = week1/fsjs-p2-slc1-ref
	url = https://github.com/mspadilapadli/fsjs-p2-slc1-ref.git
[submodule "week1/fsjs-p2-lc1-ref"]
	path = week1/fsjs-p2-lc1-ref
	url = https://github.com/mspadilapadli/fsjs-p2-lc1-ref.git
[submodule "week2/fsjs-p2-gc2-ref"]
	path = week2/fsjs-p2-gc2-ref
	url = https://github.com/mspadilapadli/fsjs-p2-gc2-ref.git
[submodule "week2/fsjs-p2-thr-ref"]
	path = week2/fsjs-p2-thr-ref
	url = https://github.com/mspadilapadli/fsjs-p2-thr-ref.git
[submodule "week3/fsjs-p2-ip-ref"]
	path = week3/fsjs-p2-ip-ref
	url = https://github.com/mspadilapadli/fsjs-p2-ip-ref.git
[submodule "week3/fsjs-p2-lc2-ref"]
	path = week3/fsjs-p2-lc2-ref
	url = https://github.com/mspadilapadli/fsjs-p2-lc2-ref.git
[submodule "week3/fsjs-p2-slc2-ref"]
	path = week3/fsjs-p2-slc2-ref
	url = https://github.com/mspadilapadli/fsjs-p2-slc2-ref.git
[submodule "week4/fsjs-p2-lc3-ref"]
	path = week4/fsjs-p2-lc3-ref
	url = https://github.com/mspadilapadli/fsjs-p2-lc3-ref.git
